.Slide {
    display: flex;
    height: inherit;
    min-width: 100%;
    margin: 0px 40px 0px 0px;
    scroll-snap-align: center;
}

.Slide:first-of-type {
    margin-left: 0px;
}

.Slide:last-of-type {
    margin-right: 0px;
}

.Slide:hover {
    cursor: pointer;
}


.ImageContainer {
    display: flex;
    flex-direction: column;
    float: left;
    height: 90%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}

.Image {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
    pointer-events: none;

}

.TextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 10px;
    width: 100%;
    height: 95%;
    padding: 10px;
    background-color: #2b2a33;
    overflow: auto;
    -webkit-user-select: none;
    user-select: none;
}

.TextContainer h1 {
    font-family: 'Century Gothic', sans-serif, Arial;
    font-weight: 300;
    font-size: 6vmin;
    text-decoration: underline;
    text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    margin: 0;
}

.TextContainer h3 {
    font-weight: 300;
    margin: 0;
}

.TextContainer p {
    padding: 10px;
    margin: 0;
}